/* ---------------------------------------------------------media query------------------------------------------- */
/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767.98px) {
  /* start navbar */
  .navbar-nav {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .navbar .dropdown-lang,
  .navbar .btn-sign,
  .navbar .dropdown-sign {
    width: 44%;
    margin: 10px auto !important;
  }
  .navbar .dropdown-lang .dropdown-menu[data-bs-popper],
  .navbar .dropdown-sign .dropdown-menu[data-bs-popper] {
    left: -5px;
  }
  /* finish navbar */
  /* start login form */
  .form-login .img img {
    width: 200px;
    height: 200px;
    padding: 5px 0;
  }
  /* finish login form */
  /* start confirm form */
  .form .form-step-active h4 {
    font-size: 23px;
  }
  .form .form-step-active h6 {
    font-size: 15px;
    padding: 3% 9%;
  }
  .form .form-step-active p {
    font-size: 14px;
    padding: 0;
  }
  .form .form-step-active .input-group {
    width: 100%;
  }
  .form .form-step-active .input-group .form-select {
    width: 100%;
  }
  .form .form-step-active .btn {
    margin: 1% 0;
  }
  .form .form-step-active .input-group .eye {
    top: 23%;
  }
  .form .form-step-active .full {
    width: 100%;
    padding-top: 15% !important;
  }
  .form .form-step-active .input-group .eye-login {
    top: 24%;
    left: 31%;
  }
  .form .form-step-active .form-control {
    padding-right: 13%;
  }
  .form .form-step-active .input-group .icons {
    top: 13%;
  }
  .form .form-step-active .input-group .icons {
  }
  /* finish conform form */
  /* start data complete */
  .data-coplete-tab .tab-content .first-tab h2 {
    text-align: center;
  }
  .upl {
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-pic-div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
  #uploadBtn {
    width: 44%;
    bottom: -5px;
    transform: translateX(-27%);
  }
  .data-coplete-tab .kind {
    margin-top: 4%;
  }
  .form {
    padding: 23px 10px;
  }
  .data-coplete-tab .nav-pills {
    flex-direction: row !important;
  }
  .data-coplete-tab .nav-pills .nav-link {
    width: 45%;
  }
  .data-coplete-tab .admin-responsable {
    width: 100%;
  }
  .data-coplete-tab .admin-responsable h2 {
    text-align: center;
  }
  /* finish data complete */
  /* start footer */
  footer ul,
  footer .slug {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  footer .slug {
    padding-bottom: 3%;
  }
  /* finish footer */
  /* start show order */
  .order .show-order .head p {
    font-size: 9px;
    margin: 0;
  }
  .order .show-order .content .header h6 {
    font-size: 12px;
  }
  .order .show-order .content p {
    margin-top: 3%;
    width: 74%;
    font-size: 11px;
  }
  .order .show-order .work-detials li p span {
    font-size: 9px;
  }
  .order .show-order .work-detials li p {
    font-size: 12px;
    margin: 2% 0;
  }
  .order .show-order .skills-req ul li {
    margin-bottom: 2%;
  }
  .order .show-order .adress p {
    width: 74%;
    font-size: 13px;
  }
  .candidates .nav-cand {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: none;
  }
  .candidates .nav-cand li:last-child {
    margin-right: 0;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  /* table */

  /* table */
  .page-item .page-link {
    font-size: 10px;
  }
  .modal-reject .button,
  .modal-accept .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal-reject .button .btn,
  .modal-accept .button .btn {
    margin-bottom: 3%;
  }
  .modal-reject .modal-footer,
  .modal-accept .modal-footer {
    justify-content: center;
  }
  .order .summary {
    left: 23%;
    bottom: -7%;
  }
  .order .content .input-group .icon {
    top: 30%;
    right: 2%;
  }
  .order .content .input-group .icont {
    top: 80%;
    right: 2%;
  }
  .order .content .input-group .icons {
    top: 23%;
  }
  .order .content .input-group .iconx {
    top: 57%;
  }
  .order .content .new-form .form-step-active .form-select {
    margin-bottom: 1%;
  }
  /* finish show order */
  /* start rejected clerk page */
  .clark-section .head {
    flex-direction: column;
  }
  .clark-section .head .info {
    align-items: flex-start;
    width: 100%;
  }
  .clark-section .head .button {
    margin-top: 3%;
    width: 97%;
  }
  .clark-section .head .info h6 {
    font-size: 20px;
  }

  .clark-section .about p {
    font-size: 12px;
    line-height: 1.7;
  }
  .clark-section .skills .card {
    margin-bottom: 3%;
    padding: 3% 1%;
  }
  .clark-section .download .content p {
    font-size: 11px;
  }
  /* finish rejected clerk page */
  /* start profile clerk page */
  .form-remove .form-step-remove-active .show h6,
  .form-extension .form-step-extension-active .show h6 {
    font-size: 18px;
  }
  .form-extension .form-step-extension-active ul p {
    font-size: 13px;
  }
  .form-extension .form-step-extension-active ul span {
    font-size: 11px;
  }
  .form-extension .form-step-extension-active ul i {
    font-size: 12px;
  }
  /* start profile clerk page */
  /* table */
  .all-order table tbody td {
    padding: 1% 2%;
  }
  .all-order table thead td {
    font-size: 14px;
  }
  /* table */
  .non-exist a {
    width: 50%;
  }
  /* start new order page */
  .order .pattern .head p {
    font-size: 9px;
  }
  .order .pattern .button .btn {
    width: 80%;
    font-size: 11px;
  }
  .order .pattern .content p {
    font-size: 11px;
  }
  /* finish new order page */
  /* start account page */
  .order .head-main {
    text-align: center;
  }
  .order .account .head-categ {
    text-align: center;
    font-size: 25px;
  }
  .order .account #uploadBtn {
    left: 43%;
  }
  .order .account h2:last-child {
    display: none;
  }
  .order .account .input-group {
    margin: 2% 0;
  }
  /* finish account page */
  /* start chat room page */
  .order .contact-pepole .search {
    padding: 3% 1%;
  }
  .order .contact-pepole .pepole h6 {
    text-align: center;
    font-size: 18px;
  }
  .order .contact-pepole .pepole ul {
    margin: 1% 0;
  }
  .order .contact-pepole .pepole ul li {
    margin: 7% 0;
  }
  .chat-footer textarea::-webkit-scrollbar {
    display: none;
  }
  /* finish chat room page */
  /* celander */
  .celander {
    width: 327px;
  }
  /* celander */
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1023.98px) {
  /* start navbar */
  .navbar-nav {
    width: 100%;
  }
  .navbar .dropdown-lang,
  .navbar .btn-sign,
  .navbar .dropdown-sign {
    width: 24%;
    margin: 10px 0 !important;
  }
  .navbar .dropdown-lang .dropdown-menu[data-bs-popper],
  .navbar .navbar .dropdown-sign .dropdown-menu[data-bs-popper] {
    left: 12px;
  }
  /* finish navbar */
  .form-login .img img {
    width: 250px;
    height: 250px;
    padding: 5px 0;
  }
  /* finish login form */
  /* start data complete */
  .upl {
    height: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .profile-pic-div {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
  }
  #uploadBtn {
    width: 44%;
    bottom: -5px;
    transform: translateX(-27%);
  }
  #uploadBtn h6 {
    margin-top: 4%;
    padding-top: 2%;
  }
  .data-coplete-tab .tab-content .first-tab h2 {
    text-align: center;
  }
  .form {
    padding: 23px 10px;
  }
  .data-coplete-tab .admin-responsable {
    width: 100%;
  }
  .data-coplete-tab .admin-responsable h2 {
    text-align: center;
  }
  /* finish data complete */
  /* footer */
  footer .slug {
    justify-content: center;
  }
  /* footer */
  /* start show order */
  .order .show-order .head p {
    font-size: 11px;
    margin-right: 2%;
  }
  .order .show-order .head .indection {
    text-align: center;
  }
  .order .show-order .content .header h6 {
    font-size: 15px;
  }
  .order .show-order .work-detials ul {
    justify-content: center;
    align-items: center;
  }
  .order .show-order .work-detials li p span {
    font-size: 9px;
  }
  .order .show-order .work-detials li p {
    margin: 1% 0;
  }
  .order .show-order .work-detials ul li {
    text-align: start;
    padding-right: 1%;
  }
  .order .show-order .skills-req ul li {
    font-size: 11px;
    margin-bottom: 2%;
  }
  .order .content .input-group .icon {
    top: 30%;
    right: 2%;
  }
  .order .content .input-group .icont {
    top: 80%;
    right: 2%;
  }
  .order .show-order .adress p {
    width: 89%;
  }
  .candidates .nav-cand {
    border-bottom: none;
  }
  .candidates .nav-cand li:last-child {
    margin: 4% auto 2%;
  }
  .order .summary {
    left: 27%;
    bottom: -3%;
  }
  /* finish show order */
  /* start rejected clerk page */
  .clark-section .about p {
    font-size: 11px;
    line-height: 1.9;
  }
  .team-work {
    margin-bottom: 3%;
  }
  /* finish rejected clerk page */
  /* start profile clerk page */
  .clark-section .head {
    flex-direction: column;
  }
  .clark-section .head .button {
    width: 90%;
    margin-top: 5%;
  }
  .clark-section .head .info {
    width: 100%;
  }
  .clark-section .skills .card {
    margin-bottom: 10%;
  }
  /* finish profile clerk page */
  /* tabel */

  /* tabel */
  /* start new order page */
  .order .pattern .head p {
    font-size: 11px;
  }
  .order .pattern .button .btn {
    width: 80%;
    font-size: 13px;
  }
  .order .pattern .content p {
    font-size: 13px;
  }
  /* finish new order page */
  /* start account page */
  .order .account h2:last-child {
    display: none;
  }
  .order .account #uploadBtn {
    left: 42%;
  }
  /* finish account page */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1023.98px) and (max-width: 1200px) {
  /* start navbar */
  .navbar .dropdown-lang .lang-menu::after {
    left: 6px;
  }
  .navbar .dropdown-lang .dropdown-menu[data-bs-popper] {
    left: -28px;
  }
  /* finish navbar */
  /* start data complete */
  .profile-pic-div {
    height: 118px;
    width: 118px;
    position: absolute;
    top: 7%;
    left: -34%;
  }
  #uploadBtn {
    bottom: -180px;
  }
  #uploadBtn h6 {
    padding-top: 5%;
  }
  .form {
    padding: 21px 20px;
  }
  /* finish data complete */
  /* start account page */
  .order .account .profile-pic-div {
    left: -7%;
  }
  .order .account .head-categ {
    font-size: 23px;
  }
  .order .account h2:last-child {
    margin-top: 322%;
  }
  /* finish account page */
}
@media (max-width: 1000px) {
  /* responsive tabel */
  .table thead,
  .candidates .table thead,
  .all-order .table thead {
    display: none;
  }
  .table,
  .candidates,
  .all-order .table,
  .table tbody,
  .candidates tbody,
  .all-order .table tbody,
  .table tr,
  .candidates tr,
  .all-order .table tr,
  .table td,
  .candidates td,
  .all-order .table td {
    display: block;
    width: 97%;
  }
  .all-order .table tbody tr {
    border: none;
  }
  .table tr,
  .candidates tr {
    margin-bottom: 15px;
  }
  .table td,
  .candidates .table td {
    text-align: left !important;
    padding-right: 50%;
    position: relative;
  }
  .table td::before,
  .candidates .table td::before {
    content: attr(data-label);
    position: absolute;
    right: 0;
    width: 31%;
    font-size: 15px;
    text-align: left;
    color: black;
  }
  .table-work.table tbody tr:nth-child(even) {
    color: white;
  }
  /* responsive tabel */
}
